<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>UXLib2Devices</FriendlyName>
    <SystemName>UX.Lib2.Devices</SystemName>
    <EntryPoint>UX.Lib2.Devices</EntryPoint>
    <MinFirmwareVersion>1.009.0029</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>22/05/2020 10:21:08</CompiledOn>
    <CompilerRev>2.0.7447.16827</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Version>Crestron.SIMPLSharp, Version=2.0.54.0, Culture=neutral, PublicKeyToken=812d080f93e2de10</Version>
    <Include4.dat />
  </Plugin>
</ProgramInfo>